type vendor_qti_init_shell, domain;
set_prop(vendor_qti_init_shell, ctl_start_prop)
get_prop(vendor_qti_init_shell, usb_control_prop)
set_prop(vendor_qti_init_shell, usb_control_prop)
