allow system_app sysfs_kgsl:file r_file_perms;
allow system_app default_android_hwservice:hwservice_manager { find };
get_prop(system_app, vendor_camera_prop);
