allow vendor_init persist_file:lnk_file read;

set_prop(vendor_init, build_prop)
set_prop(vendor_init, default_prop)
set_prop(vendor_init, radio_prop)
set_prop(vendor_init, bluetooth_prop)
set_prop(vendor_init, audio_prop)
set_prop(vendor_init, vendor_camera_prop)
