on init
    write /sys/class/leds/vibrator/trigger "transient"
    mount none /product/vendor_overlay/31/lib/soundfx/libvolumelistener.so /vendor/lib/soundfx/libvolumelistener.so bind
    mount none /product/vendor_overlay/31/lib64/soundfx/libvolumelistener.so /vendor/lib64/soundfx/libvolumelistener.so bind
    mount none /product/vendor_overlay/31/etc/audio_policy_configuration.xml /vendor/etc/audio_policy_configuration.xml bind
    mount none /product/vendor_overlay/31/etc/audio/audio_policy_configuration.xml /vendor/etc/audio/audio_policy_configuration.xml bind
    mount none /product/vendor_overlay/31/etc/audio_platform_info.xml /vendor/etc/audio_platform_info.xml bind
    mount none /product/vendor_overlay/31/etc/audio_platform_info_intcodec.xml /vendor/etc/audio_platform_info_intcodec.xml bind
    mount none /product/vendor_overlay/31/etc/a2dp_audio_policy_configuration.xml /vendor/etc/a2dp_audio_policy_configuration.xml bind
    mount none /product/vendor_overlay/31/etc/a2dp_in_audio_policy_configuration.xml /vendor/etc/a2dp_in_audio_policy_configuration.xml bind
    mount none /product/vendor_overlay/31/etc/bluetooth_audio_policy_configuration.xml /vendor/etc/bluetooth_audio_policy_configuration.xml bind
    mount none /product/vendor_overlay/31/etc/qdcm_calib_data_xiaomi_38_08_0a_cmd_mode_dsc_dsi_panel.xml /vendor/etc/qdcm_calib_data_xiaomi_38_08_0a_cmd_mode_dsc_dsi_panel.xml bind
    mount none /product/vendor_overlay/31/etc/excluded-input-devices.xml /vendor/etc/excluded-input-devices.xml bind
    mount none /product/vendor_overlay/31/overlay/FrameworksResCommon.apk /vendor/overlay/FrameworksResCommon.apk bind
    mount none /product/vendor_overlay/31/overlay/FrameworksResTarget.apk /vendor/overlay/FrameworksResTarget.apk bind
    mount none /product/vendor_overlay/31/overlay/DevicesAndroidOverlay.apk /vendor/overlay/DevicesAndroidOverlay.apk bind
    mount none /product/vendor_overlay/31/overlay/DevicesAndroidOverlay.apk /vendor/overlay/DevicesAndroidOverlay.apk bind

on boot    
    chown system system /sys/class/leds/vibrator/trigger
    chown system system /sys/class/leds/vibrator/activate
    chown system system /sys/class/leds/vibrator/brightness
    chown system system /sys/class/leds/vibrator/duration
    chown system system /sys/class/leds/vibrator/state
    chown system system /sys/class/timed_output/vibrator/enable

on property:persist.bluetooth.bluetooth_audio_hal.disabled=*
    setprop persist.bluetooth.bluetooth_audio_hal.disabled false

on property:persist.bluetooth.a2dp_offload.disabled=*
    setprop persist.bluetooth.a2dp_offload.disabled true

on property:ro.bluetooth.a2dp_offload.supported=*
    setprop ro.bluetooth.a2dp_offload.supported false