service vendor.light-qti /vendor/bin/hw/android.hardware.lights-service.qti
    class hal
    user system
    group system
    shutdown critical
    disabled
    override

service vendor.power-qti /vendor/bin/hw/android.hardware.power-service
    class hal
    user system
    group system
    disabled
    override

service vibratorfeature-hal-service /vendor/bin/hw/vendor.xiaomi.hardware.vibratorfeature.service
    class hal
    user system
    group system input
    disabled
    override